<md-card>
	<md-card-header>
		<md-icon md-card-avatar>assessment</md-icon>
		<md-card-title>Food!</md-card-title>
	</md-card-header>
	<md-card-content>
		<p>
			I could call myself a foodie, but I think that gives the wrong idea; I love exploring and cooking all kinds of food!
			I appreciate everything from the high end gastroexperimental, to bar-s hotdogs.
		</p>
	</md-card-content>
</md-card>

<md-card>
	<md-card-header>
		<md-icon md-card-avatar>assessment</md-icon>
		<md-card-title>3d Printing and Design</md-card-title>
	</md-card-header>
	<md-card-content>
		<p>
			I took board drafting and AutoCAD classes in high school and always wished I could take my designs from the virtual space into real world. 
			Christmas 2016 my dream became reality when I was gifted a 3d printer. I've printed hobby parts and models for myself and friends, designed 
			a few useful components, and even a child saftey box for electrical outlets. One day I'd like to design, print, and build a robot.
		</p>
	</md-card-content>
</md-card>

<md-card>
	<md-card-header>
		<md-icon md-card-avatar>assessment</md-icon>
		<md-card-title>Hiking, Backpacking, and Camping</md-card-title>
	</md-card-header>
	<md-card-content>
		<p>
			I grew up in the Pacific Northwest and have always had a love for the outdoors. My dad taught me the local edibles plantlife and I did a lot 
			of camping with him and the boyscounts. 
		</p>
	</md-card-content>
</md-card>