<div flex layout="column" class="inset">
	<div layout-gt-sm="row">
		<md-card flex>
			<md-card-header>
				<md-icon md-card-avatar>assessment</md-icon>
				<md-card-title>Food!</md-card-title>
			</md-card-header>
			<img md-card-image src="assets/HobbyBread.jpg">
			<md-card-content>
				<p>
					I could call myself a foodie, but I think that gives the wrong idea; I love exploring and cooking all kinds of food!
					I appreciate everything from the high end gastroexperimental, to bar-s hotdogs. By and by I made that bread from a sourdough
					starter I propagated from flour, water, and patience.
				</p>
			</md-card-content>
		</md-card>
		
		<md-card flex>
			<md-card-header>
				<md-icon md-card-avatar>assessment</md-icon>
				<md-card-title>3d Printing and Design</md-card-title>
			</md-card-header>
			<img md-card-image src="assets/Hobby3d.png">
			<md-card-content>
				<p>
					I took board drafting and AutoCAD classes in high school and always wished I could take my designs from the virtual space into real world. 
					Christmas 2016 my dream became reality when I was gifted a 3d printer. I'll print hobby parts and models for myself and friends, design 
					random components, and have even created a child saftey box for my electrical outlets. One day I'd like to design, print, and build a robot.
				</p>
			</md-card-content>
		</md-card>
	</div>
	<div layout-gt-sm="row">
		<md-card flex>
			<md-card-header>
				<md-icon md-card-avatar>assessment</md-icon>
				<md-card-title>Hiking, Backpacking, and Camping</md-card-title>
			</md-card-header>
			<img md-card-image src="assets/HobbyHiking.jpg">
			<md-card-content>
				<p>
					I grew up in the Pacific Northwest and have always had a love for the outdoors. My dad taught me the local edible plantlife and I did a lot 
					of camping with him and the boyscounts. These days my family and I will take any opportunity to get into the mountains and enjoy the pines, 
					or take a stroll through the low desert when snow packs the rim roads.
				</p>
			</md-card-content>
		</md-card>
		
		<md-card flex>
			<md-card-header>
				<md-icon md-card-avatar>assessment</md-icon>
				<md-card-title>Beer Brewing</md-card-title>
			</md-card-header>
			<img md-card-image src="assets/HobbyBrewing.png">
			<md-card-content>
				<p>
					I haven't been brewing as much since my son was born, but I was an active member of the Arizona Society of Homebrewers for a number of years.
				</p>
			</md-card-content>
		</md-card>
	</div>
</div>