<div class="inset">
	<md-card flex>
		<md-list>
			<h3 md-subheader>My Coding Philosophies in a Nutshell</h3>
			<md-list-item>
				Code so it's hard to break: make it easy to read and easy to test. Name your classes, methods, and variables clearly. 
				Each function should only do one thing.
			</md-list-item>
			<md-list-item>
				Think twice code once: don't just code for the sake of sounding busy. Map a problem, think about what the inevitable 
				subsequent feature requests are going to be and prepare for those as well, then start coding knowing where everything should go. 
			</md-list-item>
			<md-list-item>
				Don't code yourself into a corner. Scope 3 versions ahead and leave yourself open for easy wins in the future.
			</md-list-item>
			<md-list-item>
				Know when to re-invent the wheel and when to use a ready made component. There's hundreds of thousands of pre-built components and 
				libraries out there, use them where appropriate, but don't use junk just because it's already built.
			</md-list-item>
		</md-list>
	</md-card>
</div>