// Avatars for the various cards
.insight-avatar {
  background-image: url('../../assets/InsightIcon.jpg');
  background-size: cover;
}

.responsivedata-avatar {
  background-image: url('../../assets/ResponsiveDataIcon.png');
  background-size: cover;
}

.edonor-avatar {
  background-image: url('../../assets/eDonorIcon.png');
  background-size: cover;
}

.caringcomputerservices-avatar {
  background-image: url('../../assets/CaringComputerServicesIcon.png');
  background-size: cover;
}

mat-card {
	max-width: 500px;
}