<div layout="column" layout-align="center center" flex>
	<section id="header-wrapper" flex>
		<div class="contents-block" layout="column" layout-align="center center">
			<h1>&lt; Skills &gt;</h1>
			<h3>Technology and concepts at my immediate disposal</h3>
		</div>
	</section>
	
	<md-card *ngFor="let category of skillsList" flex>
		<md-card-content>
			<h2>{{category.category}}</h2>
			<md-list>
				<md-list-item *ngFor="let skill of category.skills">
					{{skill.name}}
				</md-list-item>
			</md-list>
		</md-card-content>
	</md-card>


</div>