.exclusiveclicks-avatar {
  background-image: url('../../assets/ExclusiveClicksIcon.png');
  background-size: cover;
}

.realtimeleads-avatar {
  background-image: url('../../assets/RealTimeLeadsIcon.png');
  background-size: cover;
}

.rnocmobile-avatar {
  background-image: url('../../assets/InsightIcon.jpg');
  background-size: cover;
}

.ultimateprospector-avatar {
  background-image: url('../../assets/UltimateProspectorIcon.png');
  background-size: cover;
}