<td-layout #layout>
	<td-navigation-drawer flex sidenavTitle="Welcome" logo="assets:teradata">
		<md-nav-list>
			<ng-template let-item let-last="last" ngFor [ngForOf]="navElements">
				<a md-list-item (click)="layout.close()" routerLink="{{item.route}}" routerLinkActive="active">
					<md-icon>{{item.icon}}</md-icon><span>{{item.name}}</span>
				</a>
			</ng-template>
		</md-nav-list>
	</td-navigation-drawer>
	<td-layout-nav logo="assets:teradata" toolbarTitle="{{pageTitle}}" navigationRoute="/">
	<button md-icon-button td-menu-button tdLayoutToggle>
		<md-icon>menu</md-icon>
	</button>
	<router-outlet></router-outlet>
	</td-layout-nav>
</td-layout>