<td-layout #layout>
	<td-navigation-drawer flex sidenavTitle="Welcome">
		<md-nav-list>
			<ng-template let-item let-last="last" ngFor [ngForOf]="navElements">
				<a md-list-item (click)="layout.close()" routerLink="{{item.route}}" routerLinkActive="active">
					<md-icon>{{item.icon}}</md-icon><span>{{item.name}}</span>
				</a>
			</ng-template>
		</md-nav-list>
	</td-navigation-drawer>
	<td-layout-nav toolbarTitle="Cory Sougstad" navigationRoute="/home">
		<div td-toolbar-content>	
			
		</div>
		<md-toolbar class="pad-none">
			<nav md-stretch-tabs md-tab-nav-bar class="pull-bottom-xl pull-top-md text-upper" flex>
				<ng-template let-item let-last="last" ngFor [ngForOf]="navElements">
					<a md-tab-link routerLink="{{item.route}}" routerLinkActive="active">
						<md-icon hide-gt-xs>{{item.icon}}</md-icon><span hide-xs>{{item.name}}</span>
					</a>
				</ng-template>
			</nav>
		</md-toolbar>
		<router-outlet></router-outlet>
	</td-layout-nav>
</td-layout>