@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme);

app-root {
	color: #575757;
	
	h1 {
		font-size: 2em;
	}
	
	#header-wrapper {
		background-image: url('assets/CodeSS.png');
		width: 100%;
		padding-bottom: 20%;
		min-height: 200px;
		background-size: cover;
		position: relative;
	}
	
	.contents-block {
	    background-color: rgba(200, 200, 200, 0.7);
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
}

