// Avatars for the various cards
.my-avatar {
  background-image: url('../../assets/MyFace0.jpg');
  background-size: cover;
}

.portfolio-avatar {
  background-image: url('../../assets/UltimateProspector1-thumb.png');
  background-size: cover;
}

.hobbies-avatar {
  background-image: url('../../assets/Camping.jpg');
  background-size: cover;
}